body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login__bg{
  background-image: url('images/signup.png');
  height: 92vh;
  background-position: center;
  background-size: 350px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.signup__bg{
  background-image: url('images/signup.png');
  height: 92vh;
  background-position: center;
  background-size: 350px;
  background-repeat: no-repeat;
  overflow: hidden;
}


.signup-profile-pic{
  border-radius: 100%;
  width: 80px;
  margin: 20px 0 20px 3px;
}

.signup-profile-pic__container{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;

}

.signup-profile-pic{
    width: 100px;
    border-radius: 50%;
    border: 2px solid gray;
    object-fit: contain;
    height: 100px;
}

.add-picture-icon{
  position: absolute;
  bottom: 0;
  right: 10px;
  color: green;
  background-color: white;
  cursor: pointer;
  z-index: 99;
}

.plus{
  background-color: rgb(199, 168, 168);
  height: 40px;
  width: 40px;
  position: absolute;
  left: 80px;
  bottom: -10px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-weight: bolder;
  font-size: 40px;
}

/* MESSAGE */
.sidebar{
  width: 50%;
  display: flex;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profil-user{
  width: 80px;
  height: 80px;
  margin: auto;
  position: relative;
}

.my_profil{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: flex;
  margin: 20px auto;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.76);
  object-fit: cover;
  background-color: white;
}

.users-list{
  margin-top: 100px;
  margin-left: 20px;
  font-size: 20px;
}

.recent-illust{
  width: 300px;
  margin:  10px auto;
}

.open-list{
    display: flex;
    flex-direction: column;
}

.text-list{
  margin-top: 30px;
  margin-left: 20px;
  font-size: 20px;
}
.profil-recent{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    object-fit: unset;
}

.content-sidebar{
  display: flex;
  height: 585px;
  display: flex;
  justify-content: space-between;
  width: 92%;
}

.small-sidebar{
  background-color: #1966ff;
  width: 23%;
  border-radius: 20px;
  position: relative;
}

.close-icon{
  display: flex;
  justify-content: center;
}
.close{
  width: 60px;
  position: absolute;
  top: 520px;
}

.imo-icon{
  position: absolute;
  right: 0px;
  bottom: 200px;
}

.recent{
  width: 71%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.recent-search{
  width: 100%;
  position: relative;
}

.icon-search{
  position: absolute;
  margin-top:9px;
  margin-left: 10px;
  font-size: 23px;
  z-index: 5;
  opacity: 0.6;
}

.recent h4{
  font-size: 15px;
  margin-top: 75px;
  opacity: 0.5;
}

.recent-down{
  height: auto;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(47, 45, 45, 0.3);
  overflow-y: scroll;
}

.search{
  border-radius: 10px;
  height: 40px;
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(47, 45, 45, 0.3);
  margin-bottom: 18px;
  padding: 8px 37px;
  font-size: 14px;
  outline: none;
  width: 100%;
  position: absolute;
  z-index: 4;
}

.container-hr{
  display: flex;
  justify-content: center;
}

.hr{
  height: 1px;
  background-color: #c6C6C6;
  width: 380px;
  margin: auto;
  margin: 11px 0;
}

.recent-down{
  padding: 20px 15px;
}

.my-friend{
  display: flex;
  transition: 0.3s ease;
  padding: 4px 5px;
  scrollbar-width: 3;
}

.my-friend:hover{
  display: flex;
  background-color: rgba(198, 198, 198, 0.5);
  color: #eaeaea;
  border-radius: 10px;
  color: white;
}

::-webkit-scrollbar{
  width: 0;
  background-color: transparent;
}

.my-friend img{
  margin-right: 13px;
}

.name-friend .name{
    font-size: 15px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.8);
}

.name-friend .alert-msg{
  font-size: 11px;
  color: rgba(156, 149, 149, 0.87);
  font-weight: 500;
}

.recent-down h4{
  margin-bottom: 16px;
  font-size: 17px;
  font-weight: bold;
}

/* //sSIDEBAR */

.container-message{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.message{
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 585px;
  display: flex;
  width: 93%;
  padding: 20px;
}

.my_profil_msg{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  /* object-fit: cover;
  background-position: 0%; */
}

.my-image{
  display: flex;
  width: 100%;
}

.Online{
  margin: 10px auto 0;
  text-align: center;
}

.Online .online-name{
    font-weight: bolder;
}

.if-online{
  font-size: 11px;
}

.my-msge-sended{
  background-color: #1966ff;
  padding: 10px 15px;
  border-radius: 10px 10px 10px 0;
  color: white;
}

.blog-msg{
  margin: 6px 0;
}

.date{
  font-size: 10px;
  margin: 10px 0 30px;
}

.form{
  position: absolute;
  bottom: 0;
  width: 92%;
  margin: 20px 0 30px;
  display: flex;
  flex-direction: column;
}

.action-message{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.input-bog{
  width: 87%;
  display: flex;
  flex-direction: column;
  outline: none;
}

.input-msg{
  margin-right:10px;
  border: 1px solid black;
  border-radius: 5px;
  border: 2px solid #ccc;
  padding: 3px 8px;
  outline: none;
  width: 100%;
  position: absolute;
  background-color: white;
}

.file-camera{
  width: 16px;
  height: 13px;
  position: absolute;
  top: 10px;
  right: 17px;
  bottom: 10px;
  z-index: 10;
  opacity: 0;
  outline: none;
  border: none;
  cursor: pointer;
}

.form hr{
  width: 100%;
  margin-bottom: 25px;
}

.form button{
  border-radius: 7px;
  border: none;
  background-color: #1966ff;
  color: #fff;
  height: 35px;
  width: 10%;
  
}

.list-message{
  overflow-y: scroll;
  height: 360px;
  margin: 0 0 120px 0;
  position: relative;
}

.list-hr{
  margin-bottom: 50px;
  margin-top: 20px;
}

/* /CHAT */
.chat{
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background-color: #eaeaea;
}

.input-bog{
  position: relative;
}
.camera{
  position: absolute;
  top: 0;
  right: 15px;
  top: 7px;
  font-size: 20px;
}

.file-camera{
  position: absolute;
}

.send-image{
  height: 35px;
  width: 40px;
  margin: 0 4px;
  border-radius: 100%;
}

/* .file{
  height: 100px;
  position: absolute;
} */
/* .no-chat{
  position: absolute;
} */

/* Media Query */




@media screen and (max-width: 1115px) { 
  .form{
      position: absolute;
      bottom: 0;
      width: 90%;
      margin: 20px 0 30px;
      display: flex;
      flex-direction: column;
    }

    .form input{
      margin-right:10px;
      border: 1px solid black;
      border-radius: 5px;
      width: 98%;
      border: 2px solid #ccc;
      padding: 3px 8px;
      outline: none;
      
    }

    .form button{
      border-radius: 7px;
      border: none;
      background-color: #1966ff;
      color: #fff;
      /* height: 30px; */
      width: 12%;
      
    }
}

@media screen and (max-width: 860px) {
  .imo-icon{
    width: 65px;
  }

}

@media screen and (max-width: 760px) {
  .close{
    width: 50px;
    position: absolute;
    top: 520px;
  }
  .my_profil{
    width: 59px;
  }
}

@media screen and (max-width: 620px) {
  .close{
    width: 40px;
    position: absolute;
    top: 520px;
  }
  .my_profil{
    width: 30px;
  }
  .imo-icon{
    width: 50px;
  }
}

/* 
  
  .action-message{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  
  .input-bog{
    width: 89%;
  }
  

  .form hr{
    width: 100%;
    margin-bottom: 25px;
  }
  

  
  .list-message{
    overflow-y: scroll;
    height: 360px;
    margin: 0 0 120px 0;
    position: relative;
  }
  
  .list-hr{
    margin-bottom: 50px;
    margin-top: 20px;
  } */